<h4>
    <%= obj["Park Name"] %>
</h4>             
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Phone"] %><br />

    <% if (obj["URL"]) { %>
        <a href='<%= obj["URL"] %>' target='_blank'>Website</a>
    <% } %>
</p>

<% if (obj["Notes"]) { %>
    <p>
        <strong>Park Notes</strong><br />
        <%= obj["Notes"] %>
    </p>
<% } %>

<% if (obj["Hours"]) { %>
    <p>
        <strong>Hours</strong><br />
        <%= obj["Hours"] %>
    </p>
<% } %>
